header{
	width: 100%;
	height: 110px;
	background:  url(../images/bg-nav.png) no-repeat;
}
.big{
	width: 90%;
	height: 110px;
	margin: 0 auto;
	position: relative;
}
.big .logo{
	width: 125px;
	height: 125px;
	border-radius: 20px;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 2;
}
.big .logo img{
	z-index: 2;
}
.big .wenzi-logo{
	width: 225px;
	height: 70px;
	position: absolute;
	top: 20px;
	left: 135px;

}

.big .wenzi-logo h1{
	height: 46px;
	line-height: 46px;
	font-size: 24px;
}
.big .wenzi-logo p{
	font-size: 14px;
	color: #fff;
}
.big .nav{
	width: 840px;
	height: 80px;
	position: absolute;
	top: 30px;
	right: 20px;
}
.big .nav a{
	display: inline-block;
	width: 116px;
	height: 80px;
	text-align: center;
	
}
.big .nav a h6{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.big .nav a p{
	color: #515151;
}
.nav a:hover h6{
	color: #ffb400;
}
.nav a:hover p{
	color: #ffb400;
}
.nav a.last{
	position: relative;
}
.nav a.last .option{
    width: 90px;
    height: 120px;
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 60px;
    left: 17px;
    z-index: 2;
    text-align: center;
    display: none;
}
.nav a.last:hover .option{
	display: block;
}
.nav a.last .option p{
	height: 30px;
	line-height: 30px;
}

section{
	width: 100%;
	height: 1075px;
	background:  url(../images/bg_01.jpg) center 0 no-repeat;
	position: relative;
	background-size: 140%;

}
section .img1{
    width: 330px;
    height: 83px;
    position: absolute;
    top: 30px;
    left: 370px;

}
section .img2{
	width: 220px;
	height: 90px;
	position: absolute;
	top: 20px;
	right: 370px;
}
section .join{
	width: 162px;
	height: 50px;
	background-color: #ffb400;
	position: absolute;
	top: 25px;
	right: 30px;
	text-align: center;
	line-height: 50px;
}
section .join>h2{
	font-size: 22px;
	color: #000;
	font-weight: 400;
}